.btn {
    cursor: pointer;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 2em;
    background: none;
    border: 1px solid;
    transition: 250ms ease-out;
}

/*.btn-done {*/
/*    margin-right: 10px;*/
/*}*/

//.btn:hover {
//    color: #fff;
//    background: #5D8233;
//}
//
//
//.btn-delete:hover {
//    color: #fff;
//    background: #CD113B;
//}
//
//.btn-total {
//
//}
//
//
//.active {
//    border-radius: 20px;
//    border: solid 1px black;
//    background: #5D8233;
//    color: white;
//}





