.today h2 {
    text-align: center;
    margin: 5px;
    font-size: 18px;
    font-weight: 600;
}

.task__count {
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}

.btn {
    cursor: pointer;
    font-size: 15px;
    padding: 6px 20px;
    background: none;
    transition: 250ms ease-out;
    border-radius: 20px;
    border: solid 1px black;
}

.btn:hover {
    background: #c2d7ad;
}

.active {
    border-radius: 20px;
    border: solid 1px black;
    background: #5D8233;
    color: white;
}


.btn__total, .btn__active, .btn__completed {}
